# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr

# Local environment files
.env
.env.*  # optional: ignore all env variants like .env.local, .env.production

# Ignore generated resume or files you don't want committed
public/Uzair-Imam-Cv.pdf

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

